html,body{
	min-width: 1200px;
}
.container{
	width: 100%;
	height: auto;
	min-height: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
/***/
.header{
	width: 1170px;
	height: auto;
	margin: 0 auto;
	padding:1px;
}
.header .header-top{
	width: 100%;
	height: 60px;
	margin-top: 70px;
	margin-bottom: 75px;
}
.header .header-top .header-logo{
	width: 233px;
	height: 60px;
	float: left;
}
/**/
.header .header-top .nav{
    width: 820px;
    height: 40px;
    margin:10px 0;
    float: right;
    position: relative;
}
.header .header-top .nav >ul >li{
    float: left;
    position: relative;
}
.header .header-top .nav >ul >li>a{
   display: block;
   padding: 0 16px;
   font-size: 18px;
   line-height: 40px;
   height: 40px;
   overflow: hidden;
}
.header .header-top .nav >ul >li>ul{
  display: none;
  width: 170px;
  height: auto;
  position: absolute;
  top: 40px;
  left: 0px;
  padding: 10px 0 ;
  z-index: 999;
}
.header .header-top .nav >ul >li>ul>li{
  position: relative; 
}
.header .header-top .nav >ul >li>ul>li>a{
  display: block;
  width: 170px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-indent: 10px;
  overflow: hidden;
}
.header .header-top .nav >ul >li>ul>li>ul{
  display: none;
  width: 170px;
  height: auto;
  position: absolute;
  top: 0px;
  left: 170px;
  z-index: 999;
}
.header .header-top .nav >ul >li>ul>li>ul>li{
  position: relative;
}
.header .header-top .nav >ul >li>ul>li>ul>li>a{
  display: block;
  width: 170px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-indent: 10px;
  overflow: hidden;
}
/**/
.header .header-name{
	width: 673px;
	height: 44px;
	text-align: left;
	margin-left: 118px;
}
/*******/
.colorwrap{
    position:fixed;
    left: 0;
    top: 200px;
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-left:25px;
    z-index: 1;
    cursor: pointer;
}
.colorbut{
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.colorbut img{
    max-width: 45px;
    max-height: 45px;
}

.colorwrap ul{
    margin-top: 5px;
    display: none;
}
.colorwrap .colorbut ul li{
    display: block;
    width: 45px;
    height: 45px;
    margin-top: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.colorbut{  
    border:1px solid #ccc;
}
.colorwrap .colorbut .deepblue{
    background-color:#004ea2 ;
}
.colorwrap .colorbut .blue{
    background-color:#4862e1 ;
}
.colorwrap .colorbut .red{
    background-color:#f44438 ;
}
.colorwrap .colorbut .cyan{
    background-color:#069aca;
}
.colorwrap .colorbut .green{
    background-color:#028b94 ;
}
/***********/
.content{
	width: 1170px;
	height: auto;
	margin:0 auto;
	position: relative;
	padding-bottom: 151px;
}
.content .content-box{
	width:680px;
	height: auto;
	float: left;
	margin-top: 60px;
    margin-left: 60px;
	position: relative;
}
.content .content-box .menu-box{
	width: 285px;
	height: 356px;
	float: left;
	margin-left: 0px;
}
.content .content-box .menu-box >ul{
	display: block;
	width: 285px;
	height: 321px;
	overflow: hidden;
	margin-top: 9px;
}
.content .content-box .menu-box >ul>li{
	width: 100%;
	height: auto;
}
.content .content-box .menu-box >ul>li>a{
	display: block;
	width: 285px;
	height: 52px;
	overflow: hidden;
}
.content .content-box .menu-box >ul>li>a>p{
	font-size: 18px;
	line-height: 52px;
	letter-spacing: 1px; 
	text-indent:38px;
	overflow: hidden;
	text-overflow: hidden;
	-webkit-text-overflow: hidden;
	-moz-text-overflow: hidden;
	white-space: nowrap;
}
/***form-login***/
.content .content-box .form-box{
	width: 320px;
	height: 356px;
	float: left;
	margin-left:50px;
}
.content .content-box .form-box .form-Layout{
	width: 320px;
	height: 356px;
	position: relative;
}
.content .content-box .form-box .form-Layout .form-content{  /*登录模块显示隐藏*/
	display: block;
	width: 300px;
	height: 304px;
	margin-left: 20px;
	margin-top: 26px;
}
.content .content-box .form-box .form-Layout .form-content .form-user{
	width:300px;
	height: 50px;
	position: relative;
	overflow: hidden;
}
.content .content-box .form-box .form-Layout .form-content .form-user span{
	display: block;
	width: 60px;
	height: 48px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.content .content-box .form-box .form-Layout .form-content input{
	width: 238px;
	height: 47px;
	position: relative;
    padding-left: 60px;
    line-height: 48px;
    font-size: 16px;
}
.content .content-box .form-box .form-Layout .form-content .user-error{
	width: 300px;
	height: 35px;
	font-size: 14px;
	line-height: 35px;
    /*color: #f83434;*/
    overflow: hidden;
    margin-top:0px; 
}
/***/
.content .content-box .form-box .form-Layout .form-content .form-pwd , .form-vc{
	width:300px;
	height: 50px;
	position: relative;
	overflow: hidden;
}
.content .content-box .form-box .form-Layout .form-content .form-pwd .pwd-img{
	display: block;
	width: 60px;
	height: 48px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.content .content-box .form-box .form-Layout .form-content .form-vc .vc-img{
    display: block;
	width: 60px;
	height: 48px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.content .content-box .form-box .form-Layout .form-content .form-vc .vc-icon{
	display: block;
	width: 80px;
	height: 48px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.content .content-box .form-box .form-Layout .form-content .pwd-error , .vc-error{
	width: 300px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
    /*color: #f83434;*/
    overflow: hidden;
    margin-top:0px; 
}
.content .content-box .form-box .form-Layout .form-content .remember-me{
	width: 180px;
	height: 22px;
	overflow: hidden;
	position: relative;
	float: left;
	overflow: hidden;
	margin-top: 14px;
}
.content .content-box .form-box .form-Layout .form-content .remember-me .check-bg{
	display: block;
	float: left;
	width: 18px;
	height: 18px;
    position: relative;
    z-index: 2;
}
.content .content-box .form-box .form-Layout .form-content .remember-me input{
	width: 18px;
	height: 18px;
	padding-left: 0px;
	z-index: 20;
}


.content .content-box .form-box .form-Layout .form-content .remember-me label{
	display: block;
	float: left;
	margin-left: 10px;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 2px;
}
.content .content-box .form-box .form-Layout .form-content .form-sub{
	width: 120px;
	height: 50px;
	overflow: hidden;
	margin-top:0px;
	float: left;
}
.content .content-box .form-box .form-Layout .form-content .form-sub input{
    width: 120px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 2px;
    padding-left: 0px;
    border:0px;
    cursor: pointer;
}
/**Login-return***/
.content .content-box .form-box .form-Layout .login-return{  /*登录后返回模块显示，隐藏*/
	display: none;
	width: 300px;
	height: 251px;
	margin-left: 40px;
	margin-right: 40px;
	overflow: hidden;
} 
.content .content-box .form-box .form-Layout .login-return a{
    display: block;
	width: 300px;
	height: 80px;
	font-size: 28px;
	line-height: 80px;
	margin:45px 0px 0px;
	letter-spacing: 4px;
	border:0px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}  
.content .content-box .form-box .form-Layout .login-return>p{
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 40px;
}
/*******/
.content .content-box .gain-box{
   width:300px;
   height: 250px;
   float: left;
   margin-top: 50px; 	
}
.content .content-box .gain-box .gain-centent{
   width:300px;
   height: 128px;
   overflow: hidden;
   margin-top: 28px; 
}
.content .content-box .gain-box .gain-centent>p{
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 0.5px;
}
.content .content-box .gain-box .gain-more{
   float: left;
   width: 100px;
   height: 35px;
   margin-top: 26px;
   font-size: 14px;
   line-height: 35px;
   text-align: center;
}
/***/
.content .content-box .video-box{
	width: 350px;
	height: 250px;
	float: left;
	margin-left: 30px;
	margin-top: 50px;
}
/******/
.content  .image-anmeta{
	width: 720px;
	height: 725px;
	position: absolute;
	margin-top: 0;
	margin-left: 850px;
	/*transition-duration:2s
	animation:mymove 3s infinite alternate;
	-webkit-animation:mymove 3s infinite alternate;
	transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;  Firefox 4 */
   /* -webkit-transition-timing-function: ease-in-out;  Safari 和 Chrome */
   /* -o-transition-timing-function: ease-in-out;  Opera */
   -webkit-animation-name: hvr-bob-floatr, hvr-bob-index;
  animation-name: hvr-bob-floatr, hvr-bob-index;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
/* Bob */
@-webkit-keyframes hvr-bob-index {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-index {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-floatr {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-floatr {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob-index {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

/*@keyframes mymove{
    0% { top: 182px; }
    50% { top: 170px; }
    100%{  top: 182px; }
}
@-webkit-keyframes mymove{
	 0% { top: 182px; }
    50% { top: 170px; }
    100%{  top: 182px; }
}*/
/**/
.title{
	width: 100%;
	height: 26px;
	overflow: hidden;
}
.title .title-line{
	width: 6px;
	height: 26px;
	float: left;
}
.title>p{
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 1px;
	float:left;
	margin-left: 15px;
	font-weight: bold;
}
/***************/
.footer-Layout{
	width: 100%;
	height: 101px;
    position: absolute;
    bottom: 0;
    clear: both;
}
.footer-Layout .footer{
	width: 1170px;
	height: 101px;
	margin:0 auto;
	text-align: left;
}
.footer-Layout .footer>p{
	font-size: 14px;
	line-height: 101px;
}
/**/

/* Underline From Left */
.hvr-underline-from-leftmenu {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-leftmenu:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #4e48b4;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-leftmenu:hover:before, .hvr-underline-from-leftmenu:focus:before, .hvr-underline-from-leftmenu:active:before {
  right: 0;
}
/***/
