.layui-table,
.layui-table-view {
    margin: 0;
    font-family: "siyuan";
}

.layui-table-fixed-l,
.layui-table-fixed-r {
    display: none;
}

.layui-table-view .layui-table {
    width: 100%;
}

.layui-table td,
.layui-table th,
.layui-table-col-set,
.layui-table-fixed-r,
.layui-table-grid-down,
.layui-table-header,
.layui-table-page,
.layui-table-tips-main,
.layui-table-tool,
.layui-table-total,
.layui-table-view,
.layui-table[lay-skin=line],
.layui-table[lay-skin=row] {
    padding: 0 36px;
    border-style: none;
    font-size: 16px;
}

.layui-table thead tr,
.layui-table-header,
.layui-table-mend,
.layui-table-patch,
.layui-table-tool,
.layui-table-total,
.layui-table-total tr,
.layui-table[lay-even] tr:nth-child(even) {
    background-color: #FAFAFA;
    border: 1px solid #EEE;
    box-sizing: border-box;
    color: #333;
    padding: 0;
}

.layui-table-view .layui-table td,
.layui-table-view .layui-table th {

    text-align: center;
}

.layui-table tbody tr:hover {
    background-color: #FAFAFA;
}

.layui-table-click {
    background-color: none;
}

.layui-table tr {
    height: 68px;
    border-bottom: 1px solid #E9E9E9;
}

.layui-table-cell {
    text-align: center;
}

#demo7,
#demo8 {
    margin: 20px 0;
    padding: 0 36px;
    float: right;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    border: 1px solid #C16B67;
    background-color: #fff;
}

.layui-laypage .layui-laypage-curr em {
    color: #B14641;
}

.layui-laypage a:hover {
    color: #B14641;
}

.layui-btn {
    font-size: 16px;
    color: #108EE9;
    border: none;
    background: none;
}

.layui-btn:hover {
    color: #B14641;
}

.layui-btn+.layui-btn {
    background: none;
}

.layui-table-body {
    overflow: hidden;
}

.layui-title {
    overflow: hidden;
    position: relative;
    padding: 18px 0 10px 36px;
}

.layui-title h2 {
    color: #333;
    font-size: 24px;
}

.layui-title h2 b {
    font-weight: normal;
    font-size: 20px;
    color: #108EE9;
    margin-left: 12px;
}

.layui-tab-item .edit-btn {
    display: block;
    margin: 40px;
    border: none;
    width: 122px;
    height: 50px;
    border-radius: 2px;
    background-color: #B14641;
    font-size: 18px;
    font-family: 'siyuan';
    color: #fff;
}

.layui-title input[type="search"],
#test6 {
    margin: 20px 0;
    text-indent: 1em;
    width: 248px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(136, 136, 136, 1);
}

.date-filter {
    overflow: hidden;
}

.date-filter li {
    float: left;
    margin-right: 36px;
    line-height: 80px;
}

.date-filter li a {
    font-size: 20px;
    color: #888;
}

/* <link rel="stylesheet" href="../lib/layui/css/layui.css" media="all"> <script src="../lib/layui/layui.js"></script>*/

/* // response: {
    //     statusName: 'status',
    //     statusCode:200, // 对应 code自定义的参数名称
    //     msgName: 'msg', // 对应 msg自定义的参数名称
    //     countName: 'countSum', // 对应 count自定义的参数名称
    //     dataName: 'data' // 对应 data自定义的参数名称
    // } */

.popup .popup-main .layui-table {
    font-family: 'siyuan';
}

.popup-title {
    margin: 50px 0 13px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.popup-title input[type="search"] {
    text-indent: 1em;
    width: 328px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(136, 136, 136, 1);
}

.popup-title h3 {
    float: left;
    font-size: 16px;
    color: #888;
    margin: 28px 0 0 40px;
}

.btn1,
.btn2,
.btn3 {
    position: absolute;
    height: 35px;
    width: 35px;
    background: url("../images/search.png") no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn1 {
    top: 80px;
    left: 248px;
}

.btn2 {
    top: 12px;
    right: 270px;
}

.btn3 {
    top: 45px;
    left: 248px;
}





.layui-tab-content,
.layui-tab-content .layui-tab-item {
    padding: 0px;
}

.layui-tab-title {
    padding-left: 40px;
    border-bottom: none;
}

.layui-form-checked[lay-skin=primary] i{
    border-color: #b14641;
    background-color: #b14641;
    color: #fff;
}

.layui-table-view .layui-form-checkbox[lay-skin=primary] i:hover{
    border-color: #b14641;
}
/* 编辑祝贺 */
.felicitate-project {
    padding: 40px;
}

.felicitate-project b {
    font-weight: normal;
    color: #666;
    font-size: 20px;
    text-align: left;
    font-family: 'siyuan'
}

.default-project {
    padding-bottom: 40px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.custom-project ul,
.default-project ul {
    margin-top: 20px;
}

.custom-project ul>li,
.default-project ul>li {
    float: left;
    margin-right: 20px;
    width: 180px;
    height: 180px;
    border: 1px solid #ccc;
}

.default-project b {
    margin-left: 12px;
}

.default-project input[type='checkbox'] {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: none;
}

.custom-project {
    margin-top: 20px;
}