#box {
    position: fixed;
    left: 47%;
    top: 53%;
    width: 500px;
    margin-left: -200px;
    margin-top: -150px;
    font-family: "黑体";
    /*禁止复制粘贴*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* color: #fff; */
}

.reg-box {
    padding-left: 30px;
}

.reg-box li {
    line-height: 44px;
    width: 500px;
    overflow: hidden;
}

.reg-box li label {
    width: 68px;
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: right;
    padding-right: 20px;
}

.reg-box li input {
    border-radius: 3px;
    padding: 6px 0;
    font-size: 16px;
    width: 300px;
    height: 30px;
    border: 1px solid #dddddd;
    text-indent: 0.5em;
    float: left;
}
.reg-box li input[type="checkbox"]{
    margin-right: 10px;
    width: 15px;
}
/*验证码*/
.add {
    width: 128px;
    height: 44px;
    float: left;
    _display: inline;
    cursor: pointer;
    margin-left: 20px;
}

.reg-box li .sradd {
    width: 148px;
    text-indent: 4px;
    font-size: 14px;
}

.phoKey {
    background: #b14641;
    text-align: center;
    line-height: 44px;
    color: #fff;
    border-radius: 3px;
    letter-spacing: 3px;
    font-size: 18px;
}

.error {
    clear: both;
    display: block;
    color: red;
    /* padding-left: 90px; */
    padding-bottom: 5px;
    height: 20px;
    float: left;
    font-size: 12px;
    line-height: 20px;
}

.sub input {
    outline: none;
    border: none;
    margin: auto;
    /* display: inline-block; */
    margin-left: 30px;
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: 40px;
    background-color: #b14641;
    color: #fff;
    cursor: pointer;
}
