@charset "utf-8";

/* CSS Document */
/* css 初始化 */
/* 1.清除浏览器默认样式 */
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  width: 100%;
  min-height: 100%;
}

ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
button,
textarea,
select,
img,
table,
div {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

hr {
  height: 0px;
}

/* 2.针对性处理 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

ol,
ul {
  list-style: none;
}

textarea {
  resize: none;
}

img {
  border: none;
  display: inline-block;
  /*img底部空白*/
}


/* 3.设置全局样式 */
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "siyuan", "siyuanb", Arial;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

/* 4.定义常用类 */
.w1200 {
  width: 1200px;
  margin: 0 auto;
}

/*版心*/
.w1170 {
  width: 1170px;
  margin: 0 auto;
}

/*版心*/
/*闭合浮动*/
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.cl {
  clear: both;
}

/*浮动*/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

::-webkit-input-placeholder {
  font-size: 16px;
  color: #888;
  font-family: 'siyuan';
}

/* 使用webkit内核的浏览器 */
:-moz-placeholder {
  font-size: 16px;
  color: #888;
  font-family: 'siyuan';
}

/* Firefox版本4-18 */
::-moz-placeholder {
  font-size: 16px;
  color: #888;
  font-family: 'siyuan';
}

/* Firefox版本19+ */
:-ms-input-placeholder {
  font-size: 16px;
  color: #888;
  font-family: 'siyuan';
}

/* 内容区域 */

/* tab栏切换默认样式 */
.layui-tab {
  margin: 0;
  text-align: left !important;
}

.layui-tab-bar {
  display: none;
}

.layui-tab-content {
  padding: 0;
  overflow: hidden;
}

.layui-tab-title {
  height: 90px;
  padding-left: 40px;
  background-color: #fff;
}

.layui-tab-title li {
  margin-top: 29px;
  font-family: "siyuan";
  font-size: 20px;
  color: #333;
  padding: 0;
  margin-right: 78px;
  padding: 0 5px;
  transition: all .2s;
}

/* tab栏切换字体样式 */
.layui-tab-brief>.layui-tab-title .layui-this {
  line-height: 0;
  margin-top: 29px;
  color: #b14641;
  font-size: 20px;
}

.layui-tab-brief>.layui-tab-more li.layui-this:after,
.layui-tab-brief>.layui-tab-title .layui-this:after {
  border-bottom: 4px solid #b14641;
}

.layui-search {
  position: absolute;
  top: 25px;
  right: 40px;
}

/* 分页样式修改 */
.layui-laypage .layui-laypage-curr .layui-laypage-em {
  border: 1px solid #C16B67;
  background-color: #fff;
}

.layui-laypage .layui-laypage-curr em {
  color: #B14641;
}

.layui-laypage a:hover {
  color: #B14641;
}

.search {
  width: 200px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 20px;
}

.btn {
  height: 35px;
  width: 35px;
  position: absolute;
  background: url("../images/search.png") no-repeat;
  top: 8px;
  left: 188px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* 日历选择 */
.layui-laydate td.layui-this,
.layui-laydate .layui-laydate-content .layui-this {
  background-color: #b14641 !important;
  color: #fff !important;
}

.layui-laydate-content td.laydate-selected {
  background-color: rgba(177, 70, 65, .1) !important;
}

.layui-laydate-footer .laydate-footer-btns span:hover {
  color: #666;
}

.layui-laydate .layui-laydate-footer span[lay-type=date],
.layui-laydate .layui-laydate-footer span:hover,
.layui-laydate .layui-laydate-header i:hover,
.layui-laydate .layui-laydate-header span:hover,
.layui-laydate-footer span {
  color: #b14641;
}

/* 弹框按钮操作*/
.layui-layer-page .layui-layer-content {
  text-align: center;
  line-height: 120px;
  font-size: 16px;
  color: #666;
}

.layui-layer-iframe .layui-layer-btn,
.layui-layer-page .layui-layer-btn {
  text-align: center;
}


.layui-layer-btn .layui-layer-btn0,
.layui-layer-btn .layui-layer-btn1 {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: none;
}

.layui-layer-btn a.layui-layer-btn0 {
  background-color: #fff;
  border: 1px solid #b14641;
  color: #b14641;
}

.layui-layer-btn .layui-layer-btn1 {
  background-color: #b14641;
  color: #fff;
}

.layui-layer-btn .layui-layer-btn1 a:hover {
  background-color: #b14641;
}