@charset "utf-8";
@import "../../lib/layui/css/layui.css";

/*登录样式*/
/*头部样式*/
.container {
  width: 100%;
  height: 80px;
  /* background-color: pink; */
  border-bottom: 1px solid #eee;
  font-family: 'siyuan';
}

/* logo */
.container .logo {
  float: left;
  width: 288px;
  height: 80px;
  background-color: #b14641;
}

.container .logo span {
  display: inline-block;
  float: left;
  margin: 19px 14px 0 22px;
  width: 42px;
  height: 42px;
  /* text-align: center; */
  background: url(../images/logo.png) no-repeat center;
}

.container .logo a {
  float: left;
  color: #fff;
  font-size: 24px;
  line-height: 80px;
  font-family: 'siyuanb'
}

/* ************ */
/* 用户信息 */
.container .right {
  background-color: rgba(0, 0, 0, 0);
  float: right;
}

.layui-nav * {
  font-size: 16px;
}

.container .layui-nav-item {
  line-height: 80px;
  margin-right: 70px;
}

.container .layui-nav-child {
  top: 80px;
  left: -10px;
  cursor: pointer;
}

.layui-nav .layui-nav-item a,
.layui-nav .layui-nav-child a,
.container .layui-nav-item:hover a {
  color: #666;
}

.layui-nav .layui-nav-child dd.layui-this a,
.layui-nav-child dd.layui-this,
.layui-nav .layui-nav-child a:hover {
  background-color: #b14641;
  color: #fff;
}

.layui-nav .layui-this:after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed:after {
  height: 3px;
  background-color: #b14641;
}

.layui-nav .layui-nav-more {
  display: none;
}

/* ************ */

/* 左侧菜单开始 */
.left-nav {
  position: absolute;
  top: 80px;
  bottom: 0px;
  left: 0;
  z-index: 2;
  background-color: #fff;
  width: 288px;
  max-width: 288px;
  overflow: auto;
  overflow-x: hidden;
  border-right: 1px solid #eee;
  font-family: 'siyuan'
}

.left-nav #nav li a {
  font-size: 14px;
  padding: 20px 15px 20px 25px;
  display: block;
  cursor: pointer;
}

.left-nav #nav li a {
  font-size: 20px;
  color: #666;
}

.left-nav #nav li .sub-menu {
  display: none;
}

.left-nav #nav li .sub-menu li a {
  padding: 12px 15px 12px 30px;
  font-size: 18px;
  cursor: pointer;
  padding-left: 80px;
}

.left-nav #nav li .sub-menu li a i {
  font-size: 25px;
}

.left-nav #nav .sub-menu li:hover>a,
.left-nav #nav .sub-menu .sub-menu li:hover>a {
  background-color: #f6f0f0;
  color: #b14641;
  border-right: 4px solid #b14641;
}

.left-nav #nav li .sub-menu li .sub-menu li a {
  padding-left: 95px;
}

.left-nav #nav li .nav_right {
  float: right;
  font-size: 25px;
  transform: rotate(180deg);
}

.left-nav #nav li a i {
  padding-right: 15px;
  font-size: 20px;
}

.page-content {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 42px;
  left: 289px;
  overflow: hidden;
  z-index: 1;
}

.page-content .tab {
  margin: 0px;
  overflow: hidden;
  background-color: #f8f6f4;
}

.page-content .layui-tab-title {
  /* padding-top: 5px; */
  height: 40px;
  background: #f8f6f4 0 0 no-repeat;
  position: relative;
  z-index: 100;
}

.layui-tab-title .layui-this:after {
  border:none;
}

.page-content .layui-tab-title li {
  line-height: 40px;
}

.page-content .layui-tab-title li .layui-tab-close {
  border-radius: 50%;
}

.page-content .layui-tab-title .layui-this:after {
  height: 36px;
}

.page-content .layui-tab-title .layui-this {
  background: #f8f6f4 0 0 no-repeat;
}

.page-content .layui-tab-bar {
  height: 34px;
  line-height: 35px;
}

.page-content .layui-tab-content {
  position: absolute;
  top: 36px;
  bottom: 0px;
  width: 100%;
  background: #fff 0 0 no-repeat;
  padding: 0px;
  overflow: hidden;
}

.page-content .layui-tab-content .layui-tab-item {
  width: 100%;
  /* height: 100%; */
}

.page-content .layui-tab-content .layui-tab-item iframe {
  width: 100%;
  /* height: 100%; */
}

/* 内容部分 */
/* ***************** */