body {
    background-color: #f8f6f4;
    font-family: 'siyuan';
}

.header {
    overflow: hidden;
    height: 90px;
    background-color: #b14641;
}
.nav{
    width: 1200px;
    margin: 0 auto;
}
.logo {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

.logo a {
    margin-left: 10px;
    line-height: 50px;
}

#title {
    float: left;
    margin-left: 228px;
    overflow: hidden;
}

#title li {
    line-height: 90px;
    float: left;
    margin-right: 88px;
    text-align: center;
}

#title li a {
    font-size: 20px;
    color: #fff;
}

.new {
    border-bottom: 1px solid #B14641;
}

#content {
    clear: both;
}

.info ul {
    height: 90px;
    background-color: #fff;
    padding-left: 638px;
    overflow: hidden;
    margin: 0 auto;
}

.info li {
    line-height: 90px;
    float: left;
    margin-right: 88px;
    text-align: center;

}

.info li a {
    display: inline-block;
    height: 90px;
    font-size: 20px;
    color: #333;
}

.con-main{
    width: 1200px;
    /* text-align: center; */
    margin: 0 auto;
}
.search {
    line-height: 90px;
    float: left;
}

.search input,
.search button {
    outline: none;
    background: transparent;
}

.search input {
    width: 100%;
    height: 41px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #e7e7e7;
    caret-color: #fff;
}

::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
}

:-moz-placeholder {
    color: #fff;
    font-size: 16px;
}

::-moz-placeholder {
    color: #fff;
    font-size: 16px;
}

:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
}

.search button {
    height: 22px;
    width: 22px;
    position: absolute;
    top: 36px;
    right: 0;
    border: none;
    background: url(../uploads/ic-sousuo@1x.png) no-repeat;
    cursor: pointer;
}

.notice {
    overflow: hidden;
    float: left;
    margin-left: 106px;
    margin-top: 31px;
}
.inContent{
    position: relative;
}

.in-right {
    position: absolute;
    overflow: hidden;
    top: 88px;
    right: 0;
    width: 68px;
    height: 408px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px dashed #B14641;
}