.box {
    margin: 100px auto;
}
h2{
    text-align: center;
}
.main {
    position: absolute;
    /*绝对定位*/
    min-width: 300px;
    min-height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;
}

